<!-- wp:template-part {"slug":"header","theme":"themeplate","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|16","left":"var:preset|spacing|16"}}},"layout":{"type":"constrained"}} -->
<div
  class="wp-block-group"
  style="
    padding-right: var(--wp--preset--spacing--16);
    padding-left: var(--wp--preset--spacing--16);
  "
>
  <!-- wp:post-title {"align":"wide"} /-->

  <!-- wp:post-content {"align":"wide"} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"themeplate","tagName":"footer"} /-->
